{{ attach_library('nomad/gests-style') }}
{{ attach_library('core/drupal.dialog.ajax') }}

<div class="row">
  <div class="col-12">
    {{ form }}
  </div>
</div>
<button id="myBtn" class="button">Delete selected</button>
