h5 {
  padding: 0 15px;
}
/*
========= Admin modal styles
*/
#myModal .modal-content {
  padding: 0 0 20px 0;
  border-radius: 5px;
}
.modal-content h3 {
  padding: 15px;
  margin: 0;
  color: #fff;
  background: #b4ccfb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-content p {
  margin: 1em 0;
  padding: 15px;
  font-style: italic;
}
.modal-content .close {
  color: #fff;
  border-radius: 5px;
}
.path-admin .ui-dialog {
  position: fixed;
  z-index: 101;
  border-radius: 8px;
  width: 30%;
}
.path-admin .ui-dialog .ui-dialog-titlebar {
  background: #6c5aff;
}
.path-admin .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button--primary {
  background: #5b67f9;
  color: #fff;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
/*
========= Admin table styles
*/
tr td .image-style-medium {
  border-radius: 8px;
}
table tr {
  border-bottom: 1px solid #a2afe3;
}
#myBtn {
  z-index: 0;
  margin-top: 30px;
}
/*
========= User form styles
*/
/*
--------- Buttons
*/
.nomad-name-form .btn-primary {
  background-color: #5f9e53;
  border-color: #5f9e53;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
.nomad-name-form .btn-primary:hover {
  background-color: #4a00ff;
  border-color: #4a00ff;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
/*
--------- Wrapper and borders
*/
.dboutput_wrapper {
  margin: 1em 0;
  padding: 1em .6em;
  border-bottom: 2px solid #42ba7bff;
}
.dboutput_wrapper:last-child {
  border: none;
}
/*
--------- Regions blocks and elements style
*/
.region-featured-top div:nth-child(2) {
  width: 100%;
  margin: .5em 1.65em;
}

#edit-image-upload {
  padding-bottom: 2.25rem;
}

.gests {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: flex-start;
}
.gests p {
  font-weight: bold;
}
.gests div {
  width: 100%;
  height: 100%;
}
.gests .rm_btn {
  display: flex;
  width: 45%;
  align-self: flex-end;
  justify-content: space-between;
  margin-top: auto;
}
.gests .rm_btn .rm_button {
  background: #de0321;
  color: #fff;
  padding: .5em 1em;
  border-radius: 5px;
  text-decoration: none;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
.gests .rm_btn .rm_button:hover {
  background: #902a38;
  color: #fff;
  text-decoration: none;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
.gests .rm_btn .edit_button {
  background: blue;
  color: #fff;
  padding: .5em 1em;
  border-radius: 5px;
  text-decoration: none;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
.gests .rm_btn .edit_button:hover {
  background: #191988;
  color: #fff;
  text-decoration: none;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
.gests div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.gests .gests_name,
.gests .gests_email,
.gests .gests_created {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: normal;
}
.gests_created {
  font-style: italic;
}

.gests_image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
/*
========= User form modal styles
*/
.ui-dialog {
  position: fixed;
  z-index: 101;
  border-radius: 8px;
  width: 30%!important;
  text-align: center;
}
.ui-dialog .ui-dialog-titlebar {
  color: #fff;
  background: #8888ff;
  border-radius: 5px;
}
.ui-dialog .confirm-delete-form {
  margin-top: 1rem;
}
.ui-dialog .confirm-delete-form .form-actions {
  margin-top: 1rem;
}
.ui-dialog .confirm-delete-form .form-actions .form-submit {
  color: #fff;
  background: #ac0606;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
.ui-dialog .confirm-delete-form .form-actions .form-submit:hover {
  color: #fff;
  background: #680303;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
.ui-dialog .ui-dialog-buttonpane .form-actions .button {
  color: #fff;
  background: #5f9e53;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
.ui-dialog .ui-dialog-buttonpane .form-actions .button:hover {
  color: #fff;
  background: #8888ff;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
.ui-dialog .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog .button:hover,
.ui-dialog .button:focus,
.ui-dialog .button:active {
  outline: none;
  box-shadow: none;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal adaptive */
@media (max-width: 991px) {
  .gests {
    margin-top: 1em;
  }
}
@media (max-width: 798px) {
  .gests .rm_btn {
    width: 60%;
  }
}
@media (max-width: 630px) {
  .gests .rm_btn {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .gests .rm_btn {
    width: 60%;
  }
}
@media (max-width: 420px) {
  .gests .rm_btn {
    width: 80%;
  }
}
@media (max-width: 360px) {
  .gests .rm_btn {
    width: 100%;
  }
}
